<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Portfolio Management</title>
		
		<!--  Load js and css stuff -->
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/ionic.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/app.css' %}"/>
		<link rel="stylesheet" href="{% static 'lib/xcharts.css' %}"/>
	
	</head>

	<body>
		<div id="left-nav">
			<div class="welcome">Welcome, {{ name }}!</div>
			<div class="title">Menu</div>
			<ul class="list">
				<li class="list-item">
					<a class="item-content" href="#dashboard/1">
						<i class="ion-stars-bars"></i>
						<h3 Dashboard 1</h3>
						<p>Test Dashboard 1</p>
					</a>
				</li>
				<li class="list-item">
		            <a class="item-content" href="#dashboard/2">
		                <i class="ion-pie-graph"></i>
		                <h3>Dashboard 2</h3>
		                <p>Pie chart example</p>
		            </a>
		        </li>
		        <li class="list-item">
		            <a class="item-content" href="#dashboard/3">
		                <i class="ion-connection-bars"></i>
		                <h3>Dashboard 3</h3>
		                <p>Four charts drill-down</p>
		            </a>
		        </li>
			</ul>
		</div>
		<div id="container" class="transition">
		    <header class="bar bar-header nav-bar bar-stable">
		        <button id="btn-menu" class="button button-icon" style="font-size: 22px;"><i class="ion-navicon-round"></i></button>
		        <h1 class="title">Allocation Dashboard</h1>
		    </header>
		    <div id="content"></div>
		</div>
		
		<!-- Js for constructing charts go here -->
		<script src="{% static 'lib/d3.js' %}"></script>
		<script src="{% static 'lib/jquery.js'%}"></script>
		<script src="{% static 'lib/fastclick.js'%}"></script>
		<script src="{% static 'lib/xharts.js'%}"></script>
		
		<!-- Own Files -->
		<script src="{% static 'js/app.js' %}"></script>
	</body>
</html>